@import "./grid.scss";

.maintwo--left {
	grid-column: 2/6;
	margin-top: 122px;

	& img {
		position: relative;
	}
}

.maintwo--right {
	grid-column: 8/12;
	position: relative;
	left: -32px;
	margin-top: 172px;

	& h1 {
		font-family: Roboto;
		font-weight: 500;
		font-size: 36px;
		line-height: 48px;
		color: #091133;
	}

	& p {
		margin-top: 16px;
		font-family: Roboto;
		font-size: 16px;
		line-height: 26px;
		color: #6f7cb2;
	}
}
